www.getdbt.com
.sass-cache
_site/
.DS_Store
.jekyll-metadata
Gemfile.lock
.jekyll-cache/*
credentials.json
token.pickle
/etc/learn_mailmerge/html
/etc/snowflake/html_compiled
/ete/snowflake/__pycache__
