www.getdbt.com
.sass-cache
_site/
.DS_Store
.jekyll-metadata
Gemfile.lock
.jekyll-cache/*
etc/snowflake/__pycache__
etc/snowflake/html_compiled
etc/snowflake/credentials.json
etc/snowflake/token.pickle
