[submodule "www.getdbt.com"]
	path = www.getdbt.com
	url = git@github.com:fishtown-analytics/www.getdbt.com.git
	branch = cloud
[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js.git
