---
layout: page
title: Lessons
permalink: /lessons/
---

<meta name="robots" content="noindex">

<div class="bg-navy-darker">
	<div class="section-md text-white text-navy-lightest">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="text-contain">
						<h1 class="h0">Lessons</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="mask mask-ne text-white"></div>
</div>

<div class="bg-white">
	<div class="mask mask-ne text-white"></div>
	<div class="mask mask-sw text-white"></div>
	<div class="section">
		<div class="text-contain">
			<div class="row">
				<div class="col-lg-12 col-bottomless">
                </div>
            </div>
			<div class="row">
				{% for day in site.data.curriculum %}
						<div class="col-md-6">
							<h4> {{day.title}} </h4>
                            {% for session in day.sessions %}
                            <h5>{{session.name}}</h5>
								<ul class='list-icons text-med text-heading text-left'>
									{% for lsn in session.lessons %}
										{% assign lesson_id = "/lessons/" | append: lsn.slug %}
										{% assign match = site.lessons | where: 'id', lesson_id %}
                                        {% assign lesson = match[0] %}
										<li><span class='arrow-right text-blue text-medium list-icon'></span><a href="{{lesson.id}}">{{lesson.title}}</a></li>
									{% endfor %}
								</ul>
                            {% endfor %}
						</div>
				{% endfor %}
			</div>
		</div>
    </div>
</div>
