<section class="my-account__banner">
  <div class="my-account__container">
    <h2 class="my-account__heading my-account__span">{{ 'liquid.partials.header_with_links.link_my_account' | translate }}</h2>
  </div>
</section>
