{% assign mod_slug = page.module %}
{% assign module = site.data.ondemand.modules | where: "name", mod_slug %}
{% assign leadURL = "/ondemand/" | append: site.onDemandHash %}
{% assign current_slug = page.url | remove: leadURL %}
{% assign current_slug = current_slug | remove: "/tests/" %}

{% for mod in module %}

  {% for page in mod.pages %}

    {% assign n_pages = forloop.length %}

    {% if page.slug == current_slug %}
      {% assign current_pos = forloop.index0 %}
      {% assign prev_pos = current_pos | minus: 1 %}
      {% assign next_pos = current_pos | plus: 1 %}
    {% endif %}

  {% endfor %}

{% assign prev_name = mod.pages[prev_pos].name %}
{% assign prev_slug = mod.pages[prev_pos].slug %}
  
{% assign next_name = mod.pages[next_pos].name %}
{% assign next_slug = mod.pages[next_pos].slug %}

{% endfor %}

<div style="display: grid; grid-template-columns: 1fr 1fr;">

  <div>
    
    {% if prev_pos != -1 %}
      <h6>Previous Lesson:</h6>
      <a href="./{{ prev_slug }}"> {{ prev_name }}</a>
    {% endif %}
    
  </div>

  <div>
    
    {% if next_pos < n_pages %}
      <h6>Next Lesson:</h6>
      <a href="./{{ next_slug }}">{{ next_name }}</a>
    {% endif %}
      
  </div>

</div>
