{% assign mod_slug = page.moduleSlug %}
{% assign module = site.data.ondemand.modules | where: "slug", mod_slug %}
{% assign leadURL = "/ondemand/" | append: site.onDemandHash %}
{% assign current_slug = page.url | remove: leadURL %}
{% assign current_slug = current_slug | remove_first: mod_slug %}
{% assign current_slug = current_slug | remove: "//" %}

{% for mod in module %}
  {% for pg in mod.pages %}

    {% assign n_pg = forloop.length %}

    {% if pg.slug == current_slug %}
      {% assign videoURL = pg.assetLink %}
    {% endif %}

  {% endfor %}
{% endfor %}

{% if videoURL %}
<div style="max-width: 850px;">
  <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
    <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
      <div class="wistia_embed wistia_async_lortpnyki0 videoFoam=true" style="height:100%;position:relative;width:100%">
        <div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
          <img src="{{ videoURL }}/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" />
        </div>
      </div>
    </div>
  </div>
</div>


{% else %}

<p>Video Coming Soon!</p>

{% endif %}

<script src="{{ videoURL }}.jsonp" async></script>

<script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>

