{% comment %}
  This is the checkout page.
  Specifically, this is the page where a user would type in their credit
  card number, apply a coupon or checkout with PayPal
  Note that you cannot edit the actual form, however the surrounding content
  of the page may be modified.
{% endcomment %}

<main class="checkout" id="main-content" role="main">
  <div class="checkout__container">
    <div class="checkout__wrapper">
        <div class="bg-silver-light">
	        <div class="mask mask-ne text-white"></div>
            	<div class="section">
		            <div class="container">
		            	<div class="row">
			            	<div class="col-md-6">
                                {% section 'checkout_form' %}
                                {% section 'checkout_overview' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  {{ content_for_page }}
</main>

{% schema %}
{
  "sections":{
    "options":[
      "banner",
      "course_cards",
      "frequently_asked_questions",
      "call_to_action",
      "countdown",
      "video"
    ],
    "defaults":[]
  }
}
{% endschema %}
