{% comment %}
  This is the edit credit card page.
  Specifically, this is the page where a user would edit their credit card
  number for new purchases or subscription renewals

  Note that you cannot edit the actual form, however the surrounding content
  of the page may be modified.
{% endcomment %}

<div class="my-account">
  {% include 'my_account_banner' %}
  <div class="my-account__container">
    <div class="my-account__wrapper">
      <aside class="my-account__menu hidden-print">
        {% include 'my_account_menu' %}
      </aside>
      <main class="my-account__content" id="main-content" role="main">
        <h3 class="my-account__subheading">{{ 'liquid.views.my_account_credit_card_page.header_title' | translate }}</h3>
        {{ page.my_account_credit_card_form }}
      </main>
    </div>
  </div>
</div>
