{% comment %}
  This page displays the message for successfully requesting a password reset
{% endcomment %}

<div class="bg-silver-light">
  <div class="mask mask-ne text-white"></div>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <main class="password-reset" id="main-content" role="main">
            <div class="password-reset__container">
              <div class="password-reset__wrapper">
                <article  class="password-reset__sent">
                  <h2 class="password-reset__heading margin-small">{{ 'liquid.views.password_reset_sent_page.title_reset_password' | translate }}</h2>
                  <p>
                    {{ 'liquid.views.password_reset_sent_page.text_1' | translate }}
                    {{ 'liquid.views.password_reset_sent_page.text_2' | translate }}
                  </p>
                </article>
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>
  </div>
</div>
