{% comment %}
  This is the sign up page.
{% endcomment %}

<div class="bg-silver-light">
  <div class="mask mask-ne text-white"></div>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <main class="sign-up" id="main-content" role="main">
            <div class="sign-up__container">
              <div class="sign-up__wrapper">
                {% section 'signup_form' %}
              </div>
            </div>
            {{ content_for_page }}
          </main>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "sections":{
    "options":[
      "banner",
      "course_cards",
      "frequently_asked_questions",
      "call_to_action",
      "countdown",
      "video"
    ],
    "defaults":[]
  }
}
{% endschema %}
