<!DOCTYPE html>
<html dir="ltr" lang="en-US" class="{{site.namespace}}">
  <meta name="robots" content="noindex">

  <head>
    {% include options/gtm_head.html %}
    {% include options/settings.html %}
    {% include options/meta.html %}
    {% include options/scripts.html %}
    {% include options/styles.html %}

    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td,
      th {
        border: 1px solid #000000;
        text-align: left;
        padding: 8px;
      }

      tr {
        background-color: #ffffff;
      }
      
      .text-contain {
        max-width: 1200px;
      }
      
    </style>

  </head>

  <body class="{{page.class}}">
    {% include options/gtm_body.html %}
    {% include svg/svg.html %}
    <div class="page">
      {% include content/nav.html %}
      
      
      <div class="bg-navy-darker">
        <div class="section-md text-white text-navy-lightest">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="text-contain">
                  <h1 class="h0">{{ page.title }}</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mask mask-ne text-white"></div>
      </div>
            
      <div class="bg-white">
        
        <div class="mask mask-ne text-white"></div>
        
        <div class="mask mask-sw text-white"></div>
        
        <div class="section">
          
          <div class="text-contain" style="max-width=95%;">
            {{ content }}
            <div class="row">
              <div class="col-lg-12 col-bottomless">
              </div>
            </div>
            <div class="row">
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>
