<!DOCTYPE html>
<html dir="ltr" lang="en-US" class="{{site.namespace}}">
  <meta name="robots" content="noindex">

  <head>
    {% include options/gtm_head.html %}
    {% include options/settings.html %}
    {% include options/meta.html %}
    {% include options/scripts.html %}
    {% include options/styles.html %}
    
  <style>
    .grid-container {
      display: grid;
      grid-template-columns: 3fr 7fr;
    }
    
    .grid-item {
      padding: 0px 2.5%;
      margin: 0 2.5%;
    }

  </style>
    
  </head>

  <body class="{{page.class}}">
    {% include options/gtm_body.html %}
    {% include svg/svg.html %}

    <div class="page">
      {% include content/nav.html %}
      <div class="bg-navy-darker">
        <div class="section-md text-white text-navy-lightest">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="text-contain">
                  <h1 class="h0">{{ page.module }}</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mask mask-ne text-white"></div>
      </div>

      <div class="bg-white">
        <div class="mask mask-ne text-white"></div>
        <div class="mask mask-sw text-white"></div>
        <div class="section">
          <div class="grid-container">
            
            <div class="grid-item">
              {% include options/ondemand/toc.html %}
            </div>
            
            <div class="grid-item">
              {{ content }}
              <hr style="margin:20px 5%">
              {% include options/ondemand/prev_next_nav.html %}
            </div>
          
          </div>
        </div>
      </div>

    </div>

    {% include content/footer.html %}

  </body>

</html>
