<!DOCTYPE html>
<html dir="ltr" lang="en-US" class="{{site.namespace}}">
  <meta name="robots" content="noindex">

  <head>
    {% include options/gtm_head.html %}
    {% include options/settings.html %}
    {% include options/meta.html %}
    {% include options/scripts.html %}
    {% include options/styles.html %}
    
  <style>
    .grid-container {
      display: grid;
      grid-template-columns: 2fr 8fr;
    }
    
    .grid-item {
      padding: 0px 10px;
      margin: 0 10px;
    }

    .toc {
      max-width: 350px;
      min-width: 300px;
      font-size: 0.9em;
    }
    
    body {
      color: #505050
    }

  </style>
    
  </head>

  <body class="{{page.class}}">
    {% include options/gtm_body.html %}
    {% include svg/svg.html %}
    {% include content/ondemand-nav.html %}
     
      <div class="bg-white">
        <div class="section">
          <div class="grid-container">
            
            <div class="grid-item toc">
              {% include options/ondemand/toc.html %}
            </div>
            
            <div class="grid-item">
              {{ content }}
             <hr style="margin:20px 5%">
              {% include options/ondemand/prev_next_nav.html %}
            </div>

          </div>
        </div>
      </div>

    {% include content/footer.html %}

  </body>

</html>
