<!DOCTYPE html>
<html dir="ltr" lang="en-US" class="{{site.namespace}}">
  <meta name="robots" content="noindex">

  <head>
    {% include options/gtm_head.html %}
    {% include options/settings.html %}
    {% include options/meta.html %}
    {% include options/scripts.html %}
    {% include options/styles.html %}
    
  </head>

  <body class="{{page.class}}">
    {% include options/gtm_body.html %}
    {% include svg/svg.html %}
    {% include content/ondemand-nav.html %}
     
    <div class="bg-white">
          <div class="text-contain">
              {{ content }}
          </div>
      </div>
    {% include content/footer.html %}
  </body>

</html>
