<nav class="navigation">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-short">
				<div class="navigation-content">
					<div class="navigation-links">
						<div class="navigation-link">
							<a class="navigation-anchor navigation-brand" href="{{site.url}}/" title="{{site.description}}">
                                <img src="/ui/img/dbt-logo-color.png" />
								<strong class="navigation-brand-text">{{site.title}} - {{site.description}}</strong>
							</a>
						</div>
						{% if page.permalink == '/' %}
							{% assign baseurl = '' %}
						{% else %}
							{% assign baseurl = site.url %}
						{% endif %}
						<div class="navigation-link">
							<a class="navigation-anchor" href="//courses.getdbt.com" target="_blank">Learn Now</a>
						</div>
						<div class="navigation-link">
							<a class="navigation-anchor" href="{{site.baseurl}}/public">Live Courses</a>
						</div>
						<div class="navigation-link">
							<a class="navigation-anchor" href="//community.getdbt.com">Community</a>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>
