<!-- saving FAQ that was removed from homepage with redesign - in case we need it again -->
<div class="bg-white">
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="text-contain">
						<center><h3 id="faq" class="h2">FAQ</h3></center>
						<p>
                            <h5>Is there a free online version?</h5>
                                <p> Our self-service version of Learn is currently in development and we are eager to put it into production.  The <a href="https://docs.getdbt.com">dbt docs</a> are an excellent resource in the meantime for learning dbt and analytics engineering.</p>
                            <h5> Who should attend dbt Learn?</h5>
                                <p> If some of the following statements are true for you, then dbt Learn will likely be a good fit:
                                    <ul>
                                        <li>I'm thinking about building models incrementally.</li>
                                        <li>My dbt project doesn't have tests.</li>
                                        <li>I'm interested in learning about the latest workflows and tools in analytics.</li>
                                        <li>I am unsure how to debug errors.</li>
                                        <li>I want the official dbt training.</li>
                                        <li>I'm not someone who regularly adopts new software just by reading documentation.</li>
                                      </ul></p>
                                <p> We have found dbt Learn to be particularly powerful for the following roles:
                                    <ul>
                                        <li>Data Analysts who have been using dbt for ~3 months.</li>
                                        <li>Self-starters in the analytics space - some working SQL knowledge</li>
                                        <li>Data Engineers who are new to dbt</li>
                                        <li>Data Team Managers</li>
                                        <li>Analytics Consultants</li>
                                    </ul>
                                </p>
                                      
                            <h5>Is it possible to see a course syllabus ahead of time?</h5>
                                <p> We are constantly updating and improving on dbt Learn! We provide registered students with a detailed
                                    agenda a few weeks before each session. The <a href="#agenda">agenda</a> lists some topic areas we always cover and our <a href="./lessons">lessons</a> are available to preview.</p>
                            <h5>The cost of the event is prohibitive for me, is there any flexibility on the price?</h5>
                                <p> We are committed to making dbt, and knowledge of analytics engineering, accessible to as many people as possible.
                                    To that end, we have a <a href="https://docs.google.com/forms/d/e/1FAIpQLSf71YlOWjjX6Uuf5v0Y5S9NNj58A7-Ug8a2Lpt1rVnnHqm5rg/viewform">diversity scholarship</a>
                                    available to decrease or waive the cost of participation.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>