---

layout: backend
title: dbt Learn backend

---

<h1>Modules</h1>

<table>

  <tr>
    <th>Name</th>
    <th>Learning Objectives</th>
    <th>distributed assets</th>
    <th>on demand assets</th>
  </tr>


  {% for module in site.data.ondemand.modules %}
  <tr>
    <td>{{ module[1].name }}</td>
    <td>
      <ul>
        {% for lo in module[1].learningObjectives %}

        <li> {{ lo }} </li>

        {% endfor %}
      </ul>

    </td>
    <td>
    {% if module[1].presentationName != false %}
      <a href="{% link _lessons/{{ module[1].presentationSlug }}.html %}">{{ module[1].presentationName }}</a>
    {% else %}
      <p>N/A</p>
    {% endif %}
    </td>
    <td>
      <ul>
        {% for page in module[1].pages %}

        {% if page.assetName == false %}
        {% continue %}
        {% else %}

        <li> <a href="{{ page.assetLink  }}">{{ page.assetName }}</a> </li>
        {% endif %}
        {% endfor %}
      </ul>

    </td>
  </tr>
  {% endfor %}


</table>
