---
layout: presentation
title: dbt Project Design
estimated_teaching_time: 60
teaching_method: slides
working_session: false
learningObjectives:
  - Name the three main interfaces for a dbt project
  - Build intuition for naming conventions for database objects
  - Build intuition for how to use dbt and BI tools together

---

class: title, center, middle
# dbt Project Design

---

# So, I have raw data.

.grey[_What do I do with it?_]

--

Model it!

--

.grey[_How?_]

--

With dbt!

--

.grey[_Cool._]

---

{% include options/focus_slide.html %}

---

# "Model it!" actually means:

**1. There is a set of final data artifacts I want to share with stakeholders.**
- "data model design," "data warehouse design," "warehousing"
- It's a careful balance between several trade-offs: technological limitations, stakeholder needs, correctness vs. complexity, flexibility vs. rigidity
- Hard to have generic answers! Could fill a book (or several). It's a fascinating topic that we'll cover _very_ briefly

--

**2. I need a reliable, scalable, intuitive process for generating those final artifacts.**
- With dbt!
- The _real_ interest of this presentation

---

class: title, center, middle
# 1. Final data artifacts

### They matter, but you don't need to get them right on the first try

---

# Our take

Any set of best practices in model design have always needed to balance between
two competing interests:

- **Intuition:** speed of comprehension for human analysts

- **Performance:** speed of operation for (non-human) database

As modern data practitioners, we are inheritors of a decades-long history. It
is our task to determine for the present day which concepts are still necessary, and which
implementation strategies are still applicable.

---

# Then: analytics on non-analytic databases

.left-column[
**Highly normalized star schemas**. Why?
- Work well within limitations of 90s-era database technology.
- Clear guidelines for the organization and naming of datasets.
- Data Engineers expect to build them.
- Data Analysts expect to query them.
]

.right-column[
<img src="/ui/img{{page.id}}/fact-dims.png" class="img-center">
]

---

# Now: _ad hoc_ or _agile_ analytics

.denser-text[

.left-column[
### Given

- The technology we use is _powerful_. This isn't Kimball's database.
- Designing and naming things for human intuition is _hard_. You won't get
it right the first time, every time.
- You're building a data product; you're not a data service provider. 
Your goal should be to power reports that can be self-service.
]

.right-column[
### Therefore

- Build the data models you need, when you need them.
- Think about the same things as always:
	1. Business meaning
	2. Nomenclature
	3. Primary key
- Write all data transformation in SQL.
- Build with layers of abstraction so that you can make changes later.
]
]

---

# Do you have to listen to us?

**_No!_**

If you want to build a snowflake schema or Data Vault 2.0 using dbt, 
you totally can. It's all just SQL.

---

class: subtitle

# Checkpoint:

- My manager is committed to a snowflake schema for your organizing our data, can I still use dbt?

--

- Why is that the case?

--

## Questions??

---

class: subtitle, center, middle

# 2. The process _is_ the product

### (and that's more important)

---

# Three interfaces

1. The Graph
2. The Code
3. The Warehouse

These are how people at your organization will conceptualize, interact with,
and benefit from data—your product—more than any one table or dashboard.

---

# Interface #1: The Graph

"Where are those sales numbers coming from?"

_Which data sources, processes, and assumptions do our sales calculations depend on?_

The DAG tells a story:

<h3 style="text-align: center;"><span style="color: green;">Source</span>
&rarr;
<span style="color: blue;">Staging</span>
&rarr;
<span style="color: purple;">Dimensions/Facts</span></h3>

---

# Interface #2: The Code

.left-column[
- **Within files:** adhere to a style guide
- **Between files:** better file organization = easier onboarding + better collaboration
]

.right-column[
.dense-text[
```
├── README.md
├── dbt_project.yml
└── models
    ├── marts
        └── core
            ├── core.yml
            └── dim_product.sql
            ├── dim_store.sql
            └── fact_sales.sql
    └── staging
        └── postgres
        └── shopify
            ├── shopify.yml
            ├── stg_shopify_customers.sql
            ├── stg_shopify_order_items.sql
            ├── stg_shopify_orders.sql
            └── stg_shopify_products.sql
```
]
]

---

# Interface #3: The Warehouse

.left-column-66[
- **Nomenclature.** How do we name our views + tables so they are consistent, easy to
find, and easy to infer contents?
- How do we organize our output objects? Same schema or different?
- What about the intermediate stuff we _don’t_ want to show?
- Who is your end user? Is it a person writing SQL, or a BI tool pointed to a production schema?
]

.right-column-33[
<img src="/ui/img{{page.id}}/mode-sidebar.png" style="width: 60%;" class="img-center">
]

---

class: subtitle, center, middle
# The way we roll

---

<img src="/ui/img{{page.id}}/discourse-stats.png" class="img-center">
&nbsp;
<img src="/ui/img{{page.id}}/discourse-intro.png" class="img-center">

.center[[Read it!](https://discourse.getdbt.com/t/how-we-structure-our-dbt-projects/355)]

---

# Model prefixes: must-haves

.dense-text[
.left-column-33[
### stg_
- 1:1 with raw data tables
- **Source**-conformed
- Renaming, type casting, coalescing + nullif’ing
- Views!*
]

.right-column-66[
.left-column[
### dim_
- “Nouns”
- Core **business** entities
- Customers, products, apartments, providers, employees, ...
- Some "slowly-changing" attributes (e.g. address, email)
- Tables!
]

.right-column[
### fct_
- “Verbs”
- Core **business** processes
- Orders, cases, plays, listings, comments, ...
- Often built on top of an immutable event stream
- Tables (maybe incremental)*
]]]

---

# Source- vs. business-conformed

dbt sits between **source data** and **business intelligence**.

- Staging models should respect the nomenclature and structure of raw source tables
- Final dimensions and facts should exist in terms the organization understands

<img src="/ui/img{{page.id}}/dag-payments-union.png" style="width: 100%;">

---

# Also seen in the wild

.dense-text[
.left-column-33[
### __[transformed]
- Intermediate models accomplishing a transformation step
- Not meant for public consumption
- E.g. `orders__amortized`
- Views or ephemerals (tables only if needed for performance)
- Different schema?
]

.right-column-66[
.left-column[
### utils, lookups, seeds
- Handy-dandy tables to make your life easier
- Calendars: days/months, retail, biz hours
- Mapping tables
	- country codes --> region
	- products --> plans
]

.right-column[
### metric_
- Version-controlled definitions of biz KPIs
- Can be fed into a union/spine/window process to generate a single-source-of-truth metrics table
- Next-level stuff! Assumes you already have full assortment of facts + dims at the ready
]]]

---

<h3 style="text-align: center;"><span style="color: green;">source</span>
&rarr;
<span style="color: lightblue; font-size: 60%;">[base]</span>
&rarr;
<span style="color: blue;">stg</span>
&rarr;
<span style="color: grey; font-size: 60%;">[intermediate, lookup, utils]</span>
&rarr;
<span style="color: purple;">{fct</span>
+
<span style="color: navy;">dim}</span></h3>

<img src="/ui/img{{page.id}}/dag-grouped.png" style="width: 100%;">

???
Instructor: draw circles/boxes around the different "model groups" (sources,
staging, intermediate, lookups, final fact/dim). Comment on how they can
be grouped together in all three interfaces.

---

class: subtitle

# Checkpoint:

- What are some helpful actions to do in the staging layer?  Why?
--

- For those who have worked with dim/fct tables, how do you think about the differences?
- Note: The difference can be a bit blurry if you are learning them for the first time.

--

## Questions?

---

class: subtitle, center, middle
# dbt + BI

---

# What BI tool(s) do you use?

- What do you use them for?
- What _should_ you use them for?

---

## The things they've always been good at!

.left-column-33[
- User Interface
    - Point-and-click
    - Self-service filters, drill-downs
    - Accessible to users who may be less technical
]
.right-column-66[
.left-column[
- Viz!
    - Out-of-the-box
	- Color palettes ("my brand!")
    - Frameworks/libraries
]
.right-column[
- Nice-to-haves
    - Dynamic user input
    - Scheduling
	- Alerting
	- PDF’ing
	- CSV’ing
]
]

---

## Not the things they're less good at

- Multilayered data transformation with complex ordered dependencies
- Enforcing a single sources of truth
    - Defining, documenting, centralizing business logic
- Maintaining separate data environments
    - Testing
    - Version control
- Running a lot non-performant SQL concurrently
- Managing user access to sensitive data

---

# What goes where?

.left-column[
## dbt layer
- Critical business logic
- Best agreed-on version of a model
- Complex SQL
- No wasted code! Everything is multipurpose*
- Anything worth version control
]

.right-column[
## BI layer
- Aggregations, calculated on the fly
- Joins qualified by user input
- Ad hoc queries and proto-models
- Select-star SQL that feeds R, Python, JS (custom viz)
- Nothing you can't take with you
]

???
dbt models are like kitchen tools. The only single-purpose kitchen appliance
you should ever have is a rice cooker.

BI assets are like recipes. It doesn't hurt as much to have similar ones, but
when it comes time to make dinner, your guests might become confused :)

---

# How > Who

_Which_ tool you're using matters less than _how_ you're using it.

Your BI layer should be:

.left-column[
### Thin
- Rename _only_ for cosmetics
- No joins best, 1:1 joins okay (at most 2)<sup>1</sup>
]

.right-column[
### Flexible
- User-input parameters/filters
- Always prefer one explore or dashboard that can answer a dozen questions
]

.caption[<sup>1</sup>Some tools handle 1:n joins well (Looker symmetric aggregates)]

---

# Can your BI tool write this SQL?

{% raw %}
```sql
select

    product_category,   -- dimension
    sum(revenue)        -- measure

from {{ environment }}.fct_orders   -- dev or prod
where order_date >= '{{ param_order_date }}'
group by 1
```
{% endraw %}

---

class: center
# Yes!
<img src="/ui/img{{page.id}}/bi-logos-2.png" style="width: 40%;" class="img-center">

---

class: subtitle

# Checkpoint:

- What are the three interfaces into your dbt project?
--

- What are some key distinctions between the dbt layer and BI layer that you want to keep in mind?
--

- What naming conventions is your team already using?

--

## Questions?

---

class: subtitle

# Knowledge check

When creating a dbt project:
- First decide on the final artifact, and then sketch out the process for modeling it.
- Use the three interfaces to organize your models.
- Stage your raw source data before transforming it.
- Every model should have a primary key.
- Decide as an organization how to keep your BI layer thin and flexible.

{% include options/last_slide.html %}

---

class: subtitle, middle, center
# Appendix: Words to the wise
### from one data modeler to another

???
This is a very special section, for anyone in the room who feels like the
presentation thus far has been too _descriptive_ ("what's hard about modeling?") and not
_prescriptive_ enough ("ok great, now _what should I do?_")

---

1. **Nomenclature** is _hard_, and it's worth your time to be consistent. It doesn't
matter if you prefer `fct_` or `fact_`, it's important that you choose one. (What's not hard?
Every model/object name is snake case + case insensitive.)
---
1. .grey[**Nomenclature.**]
2. **Public vs. Private.** Prefixed models with single underscores represent external/usable assets.  Double underscores represent internal/intermediate assets.
---
1. .grey[**Nomenclature.**]
2. .grey[**Public vs. Private.**]
3. **Modular model files:** Individual models should max out at a half-dozen
CTEs / few hundred lines of SQL. The CTEs should be named such that they narrate
the model's transformation. If one model file is getting too long, split it up
into multiple ephemeral models.
---
1. .grey[**Nomenclature.**]
2. .grey[**Public vs. Private.**]
3. .grey[**Modular model files.**]
4. **Macros in moderation:** Model code should seek to be _both_ DRY (Don't
Repeat Yourself) _and_ easily readable. Use Jinja + macros strongly and sparingly.
---
1. .grey[**Nomenclature.**]
2. .grey[**Public vs. Private.**]
3. .grey[**Modular model files.**]
4. .grey[**Macros in moderation.**]
5. **Reusable assets:** Final models (facts + dimensions) should be multipotent,
such that each can power an entire genre of potential queries. Your end user
or BI tool should be able to answer 80% of its most common questions by
querying **one (1)** table. Of the remaining 20%, no regularly running query
should require more than two join "steps." As soon as an ad hoc query is run
often, it should be refactored and modeled for accordingly.
---
1. .grey[**Nomenclature.**]
2. .grey[**Public vs. Private.**]
3. .grey[**Modular model files.**]
4. .grey[**Macros in moderation.**]
5. .grey[**Reusable assets.**]
6. **Documentation, documentation, documentation:** Your data models are your
product; the BI/query layer is your user experience. Having an untested,
undocumented model is worse than having no model at all.
<br>
<br>
_Corollary:_ Uncommented, unvetted, unreadable SQL—however clever
it may be—is _much_ worse than having no code at all.

---
1. .grey[**Nomenclature.**]
2. .grey[**Public vs. Private.**]
3. .grey[**Modular model files.**]
4. .grey[**Macros in moderation.**]
5. .grey[**Reusable assets.**]
6. .grey[**Documentation, documentation, documentation.**]
7. **Be your own best advocate:** Your dimensional modeling is your colleague's
feature engineering is your stakeholder's reconciliation of business definitions.
Analysts, BI users, business partners, and data scientists all can and should be
beneficiaries of the foundational work you're doing.
<br>
<br>
_Corollary:_ If they expend effort defining the same concepts on their own,
it's not only repeated work, but fertile ground for entropy at your organization.

???
I think about join "steps" as degrees of Kevin Bacon
---
1. .grey[**Nomenclature.**]
2. .grey[**Public vs. Private.**]
3. .grey[**Modular model files.**]
4. .grey[**Macros in moderation.**]
5. .grey[**Reusable assets.**]
6. .grey[**Documentation, documentation, documentation.**]
6. .grey[**Be your own best advocate.**]

# YMMV!
Take it in good health, and with many grains of salt.
