---
layout: presentation
title: Deployment
estimated_teaching_time: 15
learningObjectives:
  - Understand why you need to deploy your dbt project
  - List some considerations when deploying your project
  - List some options for deploying your dbt project
  - Deploy your dbt project with dbt Cloud
---

class: title, center, middle
# Deploying your dbt project

---

# We've built our first models... now what?

--

- How will our team members access them? They are currently in a schema named `dbt_alice`

--

- What happens if our underlying data gets updated? (It should!)

--

- What happens if we add new models, or change existing ones?

---

# Solution:

--

- Run dbt on a schedule
- Use a "trusted" schema for this run

Also known as:
- Running dbt in production
- Deploying your dbt project

---

{% include options/focus_slide.html %}

---
class: subtitle

# A thought experiment:
## .grey[💡: _"Let's set up a cron job to run dbt on an EC2 server"_]

---
# Considerations

Does your production run:
* Use the latest version of your dbt project? → **continuous deployment**
* Use the correct dbt version for your project?
* Have monitoring and alerting if something goes wrong?
* Have a way to debug failures?
* Have a secure access model?
* Build & test your modified code every time you want to merge changes? →  **continuous integration**
* Have a secure way to host your project documentation?

---

# Our recommendation: dbt Cloud

_(Obviously we're biased)_

The scheduler in dbt Cloud is purpose built for running dbt jobs on a schedule.

- ✅ Always pulls the latest version of your project
- ✅ Easy to build on Pull Request (and tear down the schema afterwards)
- ✅ Easy to generate and share documentation with users
- ✅ Secure access model
- ✅ Email and Slack notifications if something goes wrong, with rich logs
- ✅ Persist run artifacts for later comparison and analysis


---
<img src="/ui/img{{page.id}}/dbt-cloud.png" style="width: 100%;">

???
- This is what your Home Dashboard will look like once you have jobs running in Production.
- You'll see successes, errors, etc. and you can click through each invocation of a job for more information.

---
## demo

<br>
<br>
.center[
<img src="/ui/img/dbt-standalone-new.png" style="width: 20%;">
]

???
Demo Time:
- walk through development environment
- add deployment environment
- create a new job
- run job
- set up notifications for a job
- create a slim CI job
- mention environment variables and injecting logic into your SQL with jinja if blocks

---

# Alternatives to dbt Cloud

<img src="/ui/img{{page.id}}/serverless-deployment.jpg" style="width: 60%;" class="img-center">

---

# The pieces you'll need
- An orchestration tool:
    - Airflow ([related video](https://www.youtube.com/watch?v=Z6dPIXGj29M)), Jenkins, Luigi, ...
- Artifact storage:
    - S3, GCS
- CI/CD Server:
    - CircleCI, GitLab, Jenkins
- ...

(Left as an exercise to the reader)

---

# Why another option might be right for your team:
- Preexisting architecture
- Integration with custom data ingestion
- Data security compliance
- Advanced configuration + control, e.g. only running changed models on CI runs

---

# Demonstration: Scheduling a run in dbt Cloud

You'll need:
- A deployment environment
- A job, which includes:
    - Commands
    - A schedule

[Docs](https://docs.getdbt.com/docs/dbt-cloud/cloud-quickstart#create-a-new-job)

---

# The commands you should run as part of your dbt job

.left-column[

#### At a minimum:
```txt
$ dbt run
$ dbt test
```

]

--

.right-column[
#### Our preferred setup:
```txt
$ dbt source freshness
$ dbt test -s source:*
$ dbt seed
$ dbt run
$ dbt test --exclude source:*
```

]
---

# Additional strategies

Recommended:
- Separate "slim" CI job — fast runs, clear notifications
- Weekly full refresh job — more on this later!

Seen in the wild:
- Separate jobs for different parts of your project
- Blue/green deploys ([article](https://discourse.getdbt.com/t/performing-a-blue-green-deploy-of-your-dbt-project-on-snowflake/1349))
- Cloning from prod on CI runs (Snowflake only)

---

class: subtitle

# Knowledge check

You should be able to:
- Explain why you need to deploy your dbt project
- List some considerations when deploying your project
- List some options for deploying your dbt project
- Deploy your dbt project with dbt Cloud

{% include options/last_slide.html %}
