---
layout: presentation
title: Jinja
---

class: title, center, middle

{% raw %}

# `{{ Jinja }}`

`{% set date = '{% endraw %}{{site.time|slice: 0, 10}}' %}{% raw %}`

---


# Jinja is a templating engine

And it's _pythonic_! So it works in ways you'd expect if you've ever
written python, and even if you haven't.

.left-column[
Other templating engines:
* Nunjucks (JavaScript, Jinja-inspired)
* Liquid (Ruby)
]

.right-column[
Applications that use Jinja:
* Ansible
* Flask
* Airflow
* dbt!
]

[_Read the Jinja docs_](https://jinja.palletsprojects.com/en/2.11.x/)

---

class: subtitle, middle, center

<h1 style="font-size: 300%;" class="remark-inline-code">
{% ... %}<br>
{{ ... }}
</p>

---

# Setting local variables


```jinja
{% set me = 3 %}
{% set you = 'foo' %}
```

---
# Dictionaries

```jinja
{% set person = {
    'name': 'me',
    'number': 3
} %}
```
```jinja
{{ person.name }}
{{ person['name'] }}
```
--
```
me
me
```


---
# Arrays

```jinja
{% set self = ['me', 'myself'] %}

{% do self.append('i') %}
```

```jinja
{{ self[0] }}
{{ self | length }}
```
--
```
me
3
```

---

# And so on

```jinja
{% set us = [
  {
      'name': 'me',
      'number': 3
  },
  {
      'name': 'you',
      'details': 'foo'
  }
] %}

{{ us[1]['details'] }}
```
--
```
foo
```

---

# Conditions


```jinja
{% set temperature = 80 %}

On a day like this, I especially like

{% if temperature > 70 %}

    a refreshing mango sorbet.

{% else %}

    a decadent chocolate ice cream.
    
{% endif %}
```


--

```
On a day like this, I especially like a refreshing mango sorbet.
```


---

# Loops


```jinja
{% set flavors = ['chocolate','vanilla','strawberry'] %}

{% for flavor in flavors %}
	Today I want {{ flavor }} ice cream!
{% endfor %}
```


--

```
Today I want chocolate ice cream!
Today I want vanilla ice cream!
Today I want strawberry ice cream!
```

---

# Wait: Loops???

_Aren't we going to be writing SQL???_

{% endraw %}
<img src="/ui/img{{page.id}}/hn-loops.png" style="width: 100%;">
{% raw %}

--

SQL is a highly performant and _very_ declarative language.

We _are not_ looping across rows in the database.

We _are_ using loops to avoid copy-paste when writing SQL. That compiled
SQL is then run against the database.

---

# Macros

```jinja
{% macro hoyquiero(flavor, dessert = 'ice cream') %}
	Today I want {{ flavor }} {{ dessert }}!
{% endmacro %}

{{ hoyquiero(flavor = 'chocolate') }}
{{ hoyquiero('mango', 'sorbet') }}
```
--
```
Today I want chocolate ice cream!
Today I want mango sorbet!
```

---

class: subtitle, center, middle
# dbtonic Jinja

---

# refs

`{{ ref(stg_stripe_payment) }}`

.grey[`dev_jerco.stg_stripe_payment`]

**`analytics.stg_stripe_payment`**

&nbsp;

Use it always! This is how dbt:
* Mananages environments
* Infers all model dependencies (DAG)

---

# project-level vars


```yml
# dbt_project.yml

models:
  my_dbt_project:
	vars:
	  flavor: chocolate    # default value
```

```sql
# flavortown.sql

select '{{ var('flavor') }}' as my_favorite_flavor
```
--
```
select 'chocolate' as my_favorite_flavor
```

---

# Hot tip

You can override global vars with a CLI flag:

```sql
# flavortown.sql
select '{{ var('flavor') }}' as my_favorite_flavor
```

```bash
dbt run --vars '{"flavor": "vanilla"}'
```
--
```
select 'vanilla' as my_favorite_flavor
```

---

# Logging

```jinja
{% macro grant_on(user, object, privilege) %}

	grant {{privilege}} on {{object}} to {{user}}
    
    {% set message %}
        User {{user}} is ready to rock & roll with {{privilege}} on {{object}}
    {% endset %}
    
	{% do log(message, info = true) %}

{% endmacro %}
```

```sql
{{ grant_on('fishtown_jeremy', 'analytics.stg_stripe_payment', 'select') }}
```
--
```
User fishtown_jeremy is ready to rock & roll with select on 
analytics.stg_stripe_payment
```
---

# Logging

Especially useful when you're working on:
- Complicated macros
- Macros that call other macros
- Macros that run introspective queries against the database*
- Macros that are run as operations*
- Custom materializations*

Topics for later (or another time)!

---

# Whitespace control

Add dashes to remove whitespace from compiled output:
- `{{ this }}` &rarr; `{{- this -}}`
- `{% this %}` &rarr; `{%- this -%}`

```jinja
yeah
{% this will be an empty line in the compiled code %}
good.
{%- but this will not! -%}
ok.
```
--
```
yeah

good.ok.
```

---

# Comments

```sql
-- this is a SQL comment
/* as is this */
```
```jinja
{# whereas this is a Jinja comment #}
```

- Only SQL comments show up in your compiled code
    - Jinja comments for dbt things
    - SQL comments for modeling/business logic
- Be careful about having the two in close proximity!

{% endraw %}

---

class: subtitle, middle, center
# Let's get templating!


