---
layout: presentation
title: Testing
estimated_teaching_time: 30
teaching_method: live demo + slides. Questions encouraged.
working_session: true
learningObjectives:
  - Explain the role of tests in an analytics workflow
  - Add tests to your models
  - Run tests on your models
  - Build intuition for why tests fail and what to test

---
class: title, center, middle
# Testing
---

{% include options/focus_slide.html %}

---

# Refresher:

### The [dbt Viewpoint](https://docs.getdbt.com/docs/about/viewpoint/)
_**Analytics code should have quality assurance**_
* _Run automated tests on source data and on transformed data to ensure that SQL works as intended_
* _Ensure source data is up to date_

---
# What are tests?

**Tests** are assertions you make about your **models**.

When your assertion is true, your tests pass.

You configure tests in YML, in the `models` directory.

Behind the scenes, test are just `select` statements!

---
# Examples:
.left-column[
```yml
version: 2

models:
  - name: customers
    columns:
      - name: customer_id
        tests:
          - not_null

```
]
--
.right-column[
```sql

select
  count(*)

from analytics.customers
where customer_id is null

```

]
???
Teacher notes: talk about how these relate
---

# Examples:
.left-column[
```yml
version: 2

models:
  - name: customers
    columns:
      - name: customer_id
        tests:
          - not_null
          - unique

```
]
--

.right-column[
```sql

select count(*) from (
  select
    customer_id

  from analytics.customers
  group by customer_id
  having count(*) > 1
)

```
]

---

# How do we run tests?

Run all tests: `dbt test`

Run specific tests: `dbt test -m one_specific_model`


---

# What happens when you run `dbt test`?

1. dbt connection to your **data warehouse** (via a **profile/connection**)
2. dbt parses your **dbt project**
3. dbt iterates through the resource files (`models/**.yml`) to construct `select` queries.
4. dbt executes the SQL for each test: if the number `0` is returned your test passes

---

# dbt's built-in tests:
.left-column[
* **`unique`**
* `not_null`
* `accepted_values`
* `relationships`
]

.right-column[
Every value in this column is unique.


]

---
# dbt's built-in tests:
.left-column[
* `unique`
* **`not_null`**
* `accepted_values`
* `relationships`
]

.right-column[
Every value in this column is not null.


]


---
# dbt's built-in tests:
.left-column[
* `unique`
* `not_null`
* **`accepted_values`**
* `relationships`
]

.right-column[
Every value in this column is a value from a given list.

```yml
version: 2

models:
  - name: orders
    columns:
      - name: status
        tests:
          - accepted_values:
              values:
                - placed
                - shipped
                - completed
                - returned
```
]

---
# dbt's built-in tests:
.left-column[
* `unique`
* `not_null`
* `accepted_values`
* **`relationships`**
]

.right-column[
Each value in this column exists in the column of another table.

```yml
version: 2

models:
  - name: orders
    columns:
      - name: customer_id
        tests:
          - relationships:
              to: ref('customers')
              field: id

```

]

---
# Q: Why might a test fail?
--

1. The SQL in your model doesn’t do what you intended.

--

```sql
select
    orders.order_id,
    payments.payment_id
from orders
left join payments
    on orders.order_id = payments.payment_id
```
```yml
models:
  - name: fct_orders
    columns:
      - name: order_id
        tests:
          - unique
```

???
Examples:
* Bad deduping
* Bad joins

---
# Q: Why might a test fail?

1. The SQL in your model doesn’t do what you intended.
2. An assumption about your source data is wrong.
--


```sql
select
    orders.order_id,
    payments.payment_id
from orders
left join payments
    on orders.order_id = payments.order_id
```
```yml
models:
  - name: fct_orders
    columns:
      - name: order_id
        tests:
          - unique
```
---
# Q: Why might a test fail?

1. The SQL in your model doesn’t do what you intended.
2. An assumption about your source data is wrong.
    * non-unique IDs
    * 1:many instead of 1:1
    * Missing data
    * NULLs you weren't expecting

---
# Q: Why might a test fail?

1. The SQL in your model doesn’t do what you intended.
2. An assumption about your source data is wrong.

--
3. A previously-true assumption about your underlying source data is no longer true
--

    * A previously unique key is no longer unique
    * You have a new payment method

---
# Q: What should you test?
--

* Good rules of thumb:
    * Test primary keys (`unique`, `not_null`)
    * Test fields that you use in downstream models

---
# Q: When should you run tests?
--

* Manual: When you first run a project
* Manual: During development
* Automated: When you run dbt on a schedule
* Automated: When you want to merge your code

---

class: subtitle

## Checkpoint

.left-column[
```yml
version: 2

models:
  - name: payments
    columns:
      - name: payment_id
        tests:
          - not_null
          - unique
```
]

.right-column[
- What are the tests being run in this project?
- What are they running on?
- If they fail, what does that tell us?
]


---

class: subtitle

## Checkpoint

.left-column[
```yml
version: 2

models:
  - name: payments
    columns:
      - name: payment_method
        tests:
          - accepted_values:
              values:
                - credit_card
                - paypal
                - ach_transfer
```
]

.right-column[
- What are the tests being run in this project?
- What are they running on?
- If they fail, what does that tell us?
]

---

class: subtitle

# Knowledge check
You should be able to:
* Add tests to your models
* Run your tests (all of them / one model at a time)
* Explain how dbt tests work
* Find the compiled SQL for tests

{% include options/last_slide.html %}
