<!-- snippet for Formspree form that we're not longer using as of the redesign -->
<div class="bg-silver-light">

	<div class="mask mask-ne text-white"></div>
	<div class="mask mask-sw text-white"></div>
	<div class="section">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form action="https://formspree.io/h8qf9swk@robot.zapier.com" method="POST" />
                <div class="text-contain text-center">
                    <h3 id="interest" class="h2">Interested in attending a future session?</h3>
                </div>
                    <div class='card'>
                        <div class='card-body card-form'>
                                <div class="card-formrow">
                                    <div class="card-control condensed">
                                        <label class="form-control">Your Name</label>
                                    </div>
                                    <div class="card-control">
                                        <input class='form-control' type="text" name="name" placeholder="Kiki Ogino" />
                                    </div>
                                </div>
                                <div class="card-formrow">
                                    <div class="card-control condensed">
                                        <label class="form-control">Your Email</label>
                                    </div>
                                    <div class="card-control">
                                        <input class='form-control' type="text" name="email" placeholder="kiki@breadshop.com" />
                                    </div>
                                </div>
                                <div class="card-formrow">
                                    <div class="card-control condensed">
                                        <label class="form-control">Your Company</label>
                                    </div>
                                    <div class="card-control">
                                        <input class='form-control' type="text" name="company" placeholder="Bread Shop" />
                                    </div>
                                </div>
                                <div class="card-formrow">
                                    <div class="card-control condensed">
                                        <label class="form-control">Session Preference</label>
                                    </div>
                                    <div class="select">
                                    	<select class="form-control" id="session" name="session">
                                    		<option>Spring 2020</option>
                                    		<option>Summer 2020</option>
                                    		<option>Fall 2020</option>
                                    	</select>
                                    </div>
                                </div>
                                <div class="card-formrow">
                                    <div class="card-control condensed">
                                        <label class="form-control">Attendees</label>
                                    </div>
                                    <div class="select">
                                    	<select class="form-control" id="attendees" name="attendees">
                                            <option>1</option>
                                    		<option>2</option>
                                    		<option>3</option>
                                    		<option>4</option>
                                    		<option>5+</option>
                                    	</select>
                                    </div>
                                </div>
                                <div class="card-formrow">
                                    <div class="card-control condensed">
                                        <label class="form-control">Location Preferences</label>
                                    </div>
                                    <div class="card-control">
                                            <input class='form-control' id="location" name="location" placeholder="e.g. Philadelphia, USA (west coast), Europe, etc.">
                                    </div>
                                </div>
                                <div class="card-formrow">
                                    <div class="card-control condensed">
                                        <label class="form-control">Other Notes</label>
                                    </div>
                                    <div class="card-control">
                                        <textarea class='form-control' id="other" name="other" placeholder="Additional information or questions"></textarea>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <p class="btn-inliner">
                        <center>
                           <button type="submit" class="btn btn-primary">Let us know!</button>
                        </center>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>