{% comment %} This is the new course rating page. Here, a user can fill out a
course review. {% endcomment %}

<style>

.rate {
    float: left;
    height: 47px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:32px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */

</style>

<div class="bg-silver-light">
  <div class="mask mask-ne text-white"></div>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <main class="course-review" id="main-content" role="main">
            <div class="course-review__container">
              <div class="course-review__wrapper">
                <article class="course-review__form">
                  <h2 class="course-review__heading margin-small">
                    {{
                    'liquid.views.new_course_review_page.custom_tell_us_what_you_thought_text'
                    | translate }}
                  </h2>
                  <h2 class="course-review__course-name margin-small">
                    {{ page.course_review.course.name }}
                  </h2>
                  {% form 'new_course_review' %} 
                  {% if errors.size > 0 %} 
                    {% include 'form_errors' %} 
                  {% endif %}
                  <div class="form-grid form-grid-left">


                    <!-- Create input for title of review -->
                    <div class="form-row">
                      {% assign field = fields.title %}
                      <div class="form-label">
                        <label for="{{ field.name }}" class="form__label">
                          {{ field.label }}
                        </label>
                      </div>
                      <div class="form-response">
                        <input type="text" id="{{ field.name }}" name="{{ field.name }}" value="{{ field.value }}" class="form__control form-control input-white input-shadow"  {% if field.required %} required {% endif %} />
                      </div>
                    </div>

                    <!-- Create input for description of review -->
                    <div class="form-row">
                      {% assign field = fields.review_text %}
                      <div class="form-label">
                        <label for="{{ field.name }}" class="form__label">
                          {{ field.label }}
                        </label>
                      </div>
                      <div class="form-response">
                        <textarea id="{{ field.name }}" name="{{ field.name }}" class="form__control form-control input-white input-shadow" {% if field.required %}required{% endif %}>{{ field.value }}</textarea>
                      </div>
                    </div>

                    <!-- Create input for number of starts for review -->
                    {% assign field = fields.rating %}
                    <div class="form-row" role="radiogroup" aria-labelledby="stars">
                        <div class="form-label">
                          <label
                            id="stars"
                            class="form__label"
                            for={{field.name}}
                          >
                            {{ field.label }}
                          </span>
                        </div>

                        <div class="form-response">
                          <div class="rate">
                            <input type="radio" aria-label="5" name="{{ field.name }}" value="5" />
                            <label for="{{ field.name }}" title="text">5 stars</label>
                            <input type="radio" aria-label="4" name="{{ field.name }}" value="4" />
                            <label for="{{ field.name }}" title="text">4 stars</label>
                            <input type="radio" aria-label="3" name="{{ field.name }}" value="3" />
                            <label for="{{ field.name }}" title="text">3 stars</label>
                            <input type="radio" aria-label="2" name="{{ field.name }}" value="2" />
                            <label for="{{ field.name }}" title="text">2 stars</label>
                            <input type="radio" aria-label="1" name="{{ field.name }}" value="1" />
                            <label for="{{ field.name }}" title="text">1 star</label>
                          </div>
                        </div>

                    </div>

                    <div class="form__button-group course-review__submit">
                      <input
                        type="submit"
                        value="{{ fields.submit.label }}"
                        class="button button-primary btn btn-info"
                      />
                    </div>
                  </div>

                  {% endform %}
                </article>
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>
  </div>
</div>
