---

class: subtitle

.left-column[
## Day 1: Done

{% include options/zoom_out.html %}
]

--

.right-column[
## Day 2: Preview
{% include options/preview.html %}
]

---

class: subtitle

# Quick poll

.left-column[
### Track 1

- "I'm new to Jinja and Marcos."
- Introduction to Jinja
- Pivot with Jinja exercise

]

.right-column[
### Track 2

- "I have experience with Jinja and Macros."
- Accelerated Track 1
- Build a data test
- Build a custom schema test

]

Please respond to the Zoom poll!


{% include options/next_presentation.html %}
