---
title: dbt learn
permalink: /
render_chart: true
event_link: https://events.getdbt.com/
agenda:
  - name: Foundations
    activities:
      - Analytics engineering in 2020
      - dbt fundamentals
      - Data warehouse design
      - dbt + BI tools
      - Testing + Continuous Integration
      - Data sources + freshness
      - Documenting data models

  - name: Applications
    activities:
      - Extending SQL with Jinja
      - Package management
      - Understanding databases
      - Optimizing queries
      - Incremental models
      - End-to-end analytics
      - Patterns + techniques
---

<style>
canvas {
    /*-webkit-mask-image: -webkit-gradient(linear, left, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));*/
    -webkit-mask-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,1));
}
</style>

<div class="bg-navy-darker">
	<div class="section-lg text-white text-navy-lightest">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="text-contain">
						<h1 class="h0">Learn analytics engineering with dbt</h1>
                        <p class="text-large">A two-day, in-person training program that teaches analysts the tools and knowledge needed to own the entire analytics engineering workflow.</p>
					</div>
				</div>
				<div class="col-lg-4" style="z-index: 10">
					<div class="text-contain">
						<h1 class="h0">&nbsp;</h1>
                        <a target="_blank" href="{{ page.event_link }}" class="btn btn-primary btn-lg arrow-right">View upcoming events
                        </a>
                    </div>
                </div>
			</div>
		</div>
	</div>
    <div class="section-lg" style="padding: 0; margin-top: -100px; margin-bottom: -10px">
        <div class="section-background-chart">
            <div class="chart" style="height: 200px">
                <canvas id="banner" width="800" height="200"></canvas>
            </div>
        </div>
    </div>
	<div class="mask mask-ne text-white"></div>
</div>

<div class="bg-white">
	<div class="mask mask-nw text-navy-darker"></div>
	<div class="section">
		<div class="container">
            <div class="row">
                <div class='col-lg-8 col-lg-offset-2 text-center'>
                    <img style="width: 100%" src="https://i.imgur.com/RbKJTOY.jpg" />
                </div>
            </div>
			<div class="row">
				<div class="col-lg-12">
					<div class="text-contain">
						<h3 id="about" class="h2">About dbt Learn</h3>
						<p>
                            <a href="https://blog.getdbt.com/what-is-an-analytics-engineer/">Analytics engineering</a> is the data transformation work that happens between loading data
                            into your warehouse and analyzing it. At dbt Learn, the Fishtown Analytics team will teach analysts how to use dbt to manage that workflow.
                            Attendees will learn about:
                        </p>
						<ul class="list-icons list-cols text-med text-heading text-left">
							{% assign checks = 'Data Warehouses; Automated Testing; Modeling Strategies; Performance Optimization; Writing DRY code; and more!' | split: ';' %}
							{% for check in checks %}
								<li><span class="arrow-check text-red text-large list-icon"></span> {{check}}</li>
							{% endfor %}
						</ul>
                        <p>The only technical prerequisite is a working knowledge of SQL. Prior familiarity with the command line and version control is helpful but not necessary.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="bg-silver-light">
	<div class="mask mask-ne text-white"></div>
	<div class="mask mask-sw text-white"></div>
	<div class="section">
		<div class="text-contain">
			<div class="row">
				<div class="col-lg-12 col-bottomless">
					<div class="text-contain text-center">
						<h3 id="agenda" class="h2">Agenda</h3>
					</div>
                </div>
            </div>
			<div class="row">
                {% for agendum in page.agenda %}
                <div class="col-md-6">
                    <h4>{{ agendum.name }}</h4>
                        <ul class='list-icons text-med text-heading text-left'>
                            {% for activity in agendum.activities %}
                            <li><span class='arrow-right text-blue text-medium list-icon'></span> {{ activity }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
			</div>
		</div>
    </div>
</div>

<div class="bg-white">
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="text-contain">
						<center><h3 class="h2">What to Expect</h3></center>
						<p>
                            <h4>Before you begin:</h4>
                                <li> Interactive tutorial for getting started with dbt on Snowflake</li>
                                <li> Primers for SQL Foundations and Bash/Git</li>
                            <h4>During:</h4>
                                <li> A two-day course, taught by instructors from Fishtown Analytics 👋 </li>
                                <li> Integrated working sessions for hands-on exploration of dbt features</li>
                                <li> Dedicated time for questions and side-by-side pairing</li>
                                <li> Access to presentations and a curated list of additional resources</li>
                            <h4>After:</h4>
                                <li>A cohort of peers to network with and learn from</li>
                                <li>Two weeks post-program to ask your instructors for support</li>
                                <li>A verified dbt Learn certificate</li>
                            <div class="text-contain text-center">
                            <br>
                        <p><a target="_blank" href="{{ page.event_link }}" class="btn btn-primary btn-lg arrow-right">View upcoming events</a></p>
				            </div>
   				</div>
   			</div>
   		</div>
   	</div>
   </div>
</div>

<div class="bg-silver-light">

	<div class="mask mask-ne text-white"></div>
	<div class="mask mask-sw text-white"></div>
	<div class="section">
        <div class='row'>
            <div class='col-md-6 col-md-offset-3'>
                <form action="https://formspree.io/h8qf9swk@robot.zapier.com" method="POST" />
                <div class="text-contain text-center">
                    <h3 id="interest" class="h2">Interested in attending a future session?</h3>
                </div>
                    <div class='card'>
                        <div class='card-body card-form'>
                                <div class="card-formrow">
                                    <div class="card-control condensed">
                                        <label class="form-control">Your Name</label>
                                    </div>
                                    <div class="card-control">
                                        <input class='form-control' type="text" name="name" placeholder="Kiki Ogino" />
                                    </div>
                                </div>
                                <div class="card-formrow">
                                    <div class="card-control condensed">
                                        <label class="form-control">Your Email</label>
                                    </div>
                                    <div class="card-control">
                                        <input class='form-control' type="text" name="email" placeholder="kiki@breadshop.com" />
                                    </div>
                                </div>
                                <div class="card-formrow">
                                    <div class="card-control condensed">
                                        <label class="form-control">Your Company</label>
                                    </div>
                                    <div class="card-control">
                                        <input class='form-control' type="text" name="company" placeholder="Bread Shop" />
                                    </div>
                                </div>
                                <div class="card-formrow">
                                    <div class="card-control condensed">
                                        <label class="form-control">Session Preference</label>
                                    </div>
                                    <div class="select">
                                    	<select class="form-control" id="session" name="session">
                                    		<option>Spring 2020</option>
                                    		<option>Summer 2020</option>
                                    		<option>Fall 2020</option>
                                    	</select>
                                    </div>
                                </div>
                                <div class="card-formrow">
                                    <div class="card-control condensed">
                                        <label class="form-control">Attendees</label>
                                    </div>
                                    <div class="select">
                                    	<select class="form-control" id="attendees" name="attendees">
                                            <option>1</option>
                                    		<option>2</option>
                                    		<option>3</option>
                                    		<option>4</option>
                                    		<option>5+</option>
                                    	</select>
                                    </div>
                                </div>
                                <div class="card-formrow">
                                    <div class="card-control condensed">
                                        <label class="form-control">Location Preferences</label>
                                    </div>
                                    <div class="card-control">
                                            <input class='form-control' id="location" name="location" placeholder="e.g. Philadelphia, USA (west coast), Europe, etc.">
                                    </div>
                                </div>
                                <div class="card-formrow">
                                    <div class="card-control condensed">
                                        <label class="form-control">Other Notes</label>
                                    </div>
                                    <div class="card-control">
                                        <textarea class='form-control' id="other" name="other" placeholder="Additional information or questions"></textarea>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <p class="btn-inliner">
                        <center>
                           <button type="submit" class="btn btn-primary">Let us know!</button>
                        </center>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="bg-white">
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="text-contain">
						<center><h3 id="faq" class="h2">FAQ</h3></center>
						<p>
                            <h5>Is there a free online version?</h5>
                                <p> We're really interested in making this happen! It's still a ways away.
                                In the meantime, we're dedicated to making in-person Learn the best it can possibly be.</p>
                            <h5>Is it possible to see a course syllabus ahead of time?</h5>
                                <p> We are constantly updating and improving on dbt Learn! We provide registered students with a detailed
                                    agenda a few weeks before each session. You can see <a href="#agenda">above</a> some topic areas we always cover.</p>
                            <h5>The cost of the event is prohibitive for me, is there any flexibility on the price?</h5>
                                <p> We want dbt to be as accessible to as many people as possible. If you work for a non-profit,
                                    the public sector, or are member of a community that is historically underrepresented in
                                    tech – send us a message at <a href="mailto:learn@getdbt.com">learn@getdbt.com</a>. We would love to talk about what it will
                                    take to get you to the event.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
