---
title: dbt learn
permalink: /
render_chart: true
event_link: https://www.tickettailor.com/events/fishtownanalytics/
agenda:
  - activities:
      - dbt fundamentals
      - Data warehouse design
      - Understanding dbt + your BI tool
      - Testing + Continuous Integration
      - Documentation + Sources
      - Package management
      - Design patterns

  - activities:
      - Work applications
      - KPIs for business units
      - Optimizing your SQL code
      - Using Jinja & creating a macro
      - Incremental models
      - Paired problem sets
      - Presenting technical knowledge
---

<style>
canvas {
    /*-webkit-mask-image: -webkit-gradient(linear, left, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));*/
    -webkit-mask-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,1));
}
</style>

<div class="bg-navy-darker">
	<div class="section-lg text-white text-navy-lightest">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="text-contain">
						<h1 class="h0">Learn analytics engineering with dbt</h1>
                        <p class="text-large">A two-day, in-person training program that teaches analysts the tools and knowledge needed to own the entire analytics engineering workflow.</p>
					</div>
				</div>
				<div class="col-lg-4" style="z-index: 10">
					<div class="text-contain">
						<h1 class="h0">&nbsp;</h1>
                        <a target="_blank" href="{{ page.event_link }}" class="btn btn-primary btn-lg arrow-right">View upcoming events
                        </a>
                    </div>
                </div>
			</div>
		</div>
	</div>
    <div class="section-lg" style="padding: 0; margin-top: -100px; margin-bottom: -10px">
        <div class="section-background-chart">
            <div class="chart" style="height: 200px">
                <canvas id="banner" width="800" height="200"></canvas>
            </div>
        </div>
    </div>
	<div class="mask mask-ne text-white"></div>
</div>

<div class="bg-white">
	<div class="mask mask-nw text-navy-darker"></div>
	<div class="section">
		<div class="container">
            <div class="row">
                <div class='col-lg-8 col-lg-offset-2 text-center'>
                    <img style="width: 100%" src="https://i.imgur.com/RbKJTOY.jpg" />
                </div>
            </div>
			<div class="row">
				<div class="col-lg-12">
					<div class="text-contain">
						<h3 id="about" class="h2">About dbt learn</h3>
						<p>
                            Analytics engineering is the data transformation work that happens between loading data into your warehouse and analyzing it. At dbt Learn, the Fishtown Analytics team will teach analysts how to use dbt to manage that workflow. The only technical requirement needed for dbt Learn is a practical knowledge of SQL and a willingness to learn Bash, Git, and version control. Attendees will learn about:
                        </p>
						<ul class="list-icons list-cols text-med text-heading text-left">
							{% assign checks = 'Data Warehouses; Automated Testing; Modeling Strategies; Performance Optimization; Writing DRY code; and more!' | split: ';' %}
							{% for check in checks %}
								<li><span class="arrow-check text-red text-large list-icon"></span> {{check}}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="bg-silver-light">
	<div class="mask mask-ne text-white"></div>
	<div class="mask mask-sw text-white"></div>
	<div class="section">
		<div class="text-contain">
			<div class="row">
				<div class="col-lg-12 col-bottomless">
					<div class="text-contain text-center">
						<h3 id="agenda" class="h2">Agenda</h3>
					</div>
                </div>
            </div>
			<div class="row">
                {% for agendum in page.agenda %}
                    <div class="col-md-6">
                        <ul class='list-icons text-med text-heading text-left'>
                            {% for activity in agendum.activities %}
                            <li><span class='arrow-right text-blue text-medium list-icon'></span> {{ activity }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
			</div>
		</div>
    </div>
</div>

<div class="bg-white">
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="text-contain">
						<center><h3 id="about" class="h2">What to Expect</h3></center>
						<p>
                            <h4>Before you begin:</h4>
                                <li> Webinar for SQL Foundations and Bash/Git/Version Control</li>
                                <li> Meet with an instructor for 15min to discuss your goals</li>
                                <li> Detailed set-up instructions</li>
                            <h4>During:</h4>
                                <li> A two-day course, taught by three instructors from Fishtown Analytics 👋 </li>
                                <li> What is dbt and how does it fit into the analytics ecosystem? </li>
                                <li> dbt fundamentals, including building and testing data models, snapshotting slowly changing dimensions, environment management, and deploying dbt projects to production</li>
                                <li> Data warehouse design: how we practice Kimball-style modeling in dbt </li>
                                <li> Documenting your warehouse with dbt Docs</li>
                                <li> Utilizing dbt to alert on data quality and recency issues</li>
                                <li> Using dbt’s package management to federate ownership of large dbt projects </li>
                                <li> Modeling for performance: building tables incrementally </li>
                                <li> Using Jinja and macros to create dynamic, DRY data models </li>
                                <li> How to model strategically while thinking about scalability </li>
                                <li> A paired problemset everyday which students will present at the end of the day </li>
                                <li> Access to presentations and a curated list of resources to further learnings</li>
                            <h4>After:</h4>
                                <li>A cohort of peers to network with and learn from</li>
                                <li>Two weeks post-program to ask your instructors for support</li>
                                <li>A verified dbt Learn certificate</li>
                            <div class="text-contain text-center">
                            <br>
                        <p><a target="_blank" href="{{ page.event_link }}" class="btn btn-primary btn-lg arrow-right">View upcoming events</a></p>
				            </div>
   				</div>
   			</div>
   		</div>
   	</div>
   </div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="bg-silver-light">

	<div class="mask mask-ne text-white"></div>
	<div class="mask mask-sw text-white"></div>
	<div class="section">
        <div class='row'>
            <div class='col-md-6 col-md-offset-3'>
                <form action="https://formspree.io/janessa@fishtownanalytics.com" method="POST" />
                <div class="text-contain text-center">
                    <h3 id="interest" class="h2">Interested in attending a future session?</h3>
                </div>
                    <div class='card'>
                        <div class='card-body card-form'>
                                <div class="card-formrow">
                                    <div class="card-control condensed">
                                        <label class="form-control">Your Name</label>
                                    </div>
                                    <div class="card-control">
                                        <input class='form-control' type="text" name="name" placeholder="Kiki Ogino" />
                                    </div>
                                </div>
                                <div class="card-formrow">
                                    <div class="card-control condensed">
                                        <label class="form-control">Your Email</label>
                                    </div>
                                    <div class="card-control">
                                        <input class='form-control' type="text" name="email" placeholder="kiki@breadshop.com" />
                                    </div>
                                </div>
                                <div class="card-formrow">
                                    <div class="card-control condensed">
                                        <label class="form-control">Your Company</label>
                                    </div>
                                    <div class="card-control">
                                        <input class='form-control' type="text" name="company" placeholder="Bread Shop" />
                                    </div>
                                </div>
                                <div class="card-formrow">
                                    <div class="card-control condensed">
                                        <label class="form-control">Session Preference</label>
                                    </div>
                                    <div class="select">
                                    	<select class="form-control" id="session" name="session">
                                    		<option>Fall 2019</option>
                                    		<option>Winter 2020</option>
                                    		<option>Spring 2020</option>
                                    		<option>Summer 2020</option>
                                    		<option>Fall 2020</option>
                                    	</select>
                                    </div>
                                </div>
                                <div class="card-formrow">
                                    <div class="card-control condensed">
                                        <label class="form-control">Attendees</label>
                                    </div>
                                    <div class="select">
                                    	<select class="form-control" id="attendees" name="attendees">
                                            <option>1</option>
                                    		<option>2</option>
                                    		<option>3</option>
                                    		<option>4</option>
                                    		<option>5+</option>
                                    	</select>
                                    </div>
                                </div>
                                <div class="card-formrow">
                                    <div class="card-control condensed">
                                        <label class="form-control">Location Preferences</label>
                                    </div>
                                    <div class="card-control">
                                            <input class='form-control' id="location" name="location" placeholder="e.g. Philadelphia, USA (west coast), Europe, etc.">
                                    </div>
                                </div>
                                <div class="card-formrow">
                                    <div class="card-control condensed">
                                        <label class="form-control">Other Notes</label>
                                    </div>
                                    <div class="card-control">
                                        <textarea class='form-control' id="other" name="other" placeholder="Additional information or questions"></textarea>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <p class="btn-inliner">
                        <center>
                           <button type="submit" class="btn btn-primary">Let us know!</button>
                        </center>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
