---
title: dbt learn
permalink: /
days:
  - name: Day 1
    activities:
      - Intro to SQL
      - Common to Advanced SQL functions
      - ERDs and executing Joins
      - Creating a style guide
      - Refactoring "bad" queries
      - Version control (git, bash)
      - Making Pull Requests
  - name: Day 2
    activities:
      - What is dbt?
      - dbt fundamentals
      - Data warehouse design
      - Incremental models
      - Testing + Continuous Integration
      - Documentation + Package Management
      - Design patterns
  - name: Day 3
    activities:
      - Work applications
      - KPIs for business units
      - Optimizing your SQL code
      - Using Jinja
      - Creating a macro
      - Paired problem sets
      - Presenting technical knowledge
---

<style>
canvas {
    /*-webkit-mask-image: -webkit-gradient(linear, left, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));*/
    -webkit-mask-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,1));
}

</style>

<div class="bg-navy-darker">
	<div class="section-lg text-white text-navy-lightest">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="text-contain">
						<h1 class="h0">Learn from the best</h1>
                        <p class="text-large">dbt learn is a three day in-person training program designed to <br> empower analysts.</p>
					</div>
				</div>
				<div class="col-lg-4" style="z-index: 10">
					<div class="text-contain">
						<h1 class="h0">&nbsp;</h1>
                        <a href="https://www.eventbrite.com/e/dbt-learn-february-2019-tickets-53954183415" class="btn btn-primary btn-lg arrow-right">Register now</a>
                    </div>
                </div>
			</div>
		</div>
	</div>
    <div class="section-lg" style="padding: 0; margin-top: -100px; margin-bottom: -10px">
        <div class="section-background-chart">
            <div class="chart">
                <canvas id="banner" width="800" height="200"></canvas>
            </div>
        </div>
    </div>
	<div class="mask mask-ne text-white"></div>
</div>

<div class="bg-white">
	<div class="mask mask-nw text-navy-darker"></div>
	<div class="section">
		<div class="container">
            <div class="row">
                <div class='col-lg-8 col-lg-offset-2 text-center'>
                    <img style="width: 100%" src="https://i.imgur.com/2cJvMJe.jpg" />
                </div>
            </div>
			<div class="row">
				<div class="col-lg-12">
					<div class="text-contain">
						<h3 id="about" class="h2">About dbt learn</h3>
						<p>
                            dbt learn is a three day in-person training program designed to empower analysts.
                            The only technical requirement needed is a practical knowledge of SQL, leave the rest to us!
                            Taught by the Fishtown Analytics team, analysts will learn SQL essentials and the in's and out's
                                of dbt through real-world applications.
                            Analysts should walk away with a deeper understanding of how to approach, model, and optimize
                                data through dbt.
                        </p>
						<ul class="list-icons list-cols text-med text-heading text-left">
							{% assign checks = 'SQL Literacy; Version Control; Data Warehouses; Automated Testing; Design Patterns; and more!' | split: ';' %}
							{% for check in checks %}
								<li><span class="arrow-check text-red text-large list-icon"></span> {{check}}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="bg-silver-light">
	<div class="mask mask-ne text-white"></div>
	<div class="mask mask-sw text-white"></div>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-bottomless">
					<div class="text-contain text-center">
						<h3 id="agenda" class="h2">Agenda</h3>
					</div>
                </div>
            </div>
			<div class="row">
                {% for day in page.days %}
                    <div class="col-lg-4">
                        <h4>{{ day.name }}</h4>
                        <ul class='list-icons text-med text-heading text-left'>
                            {% for activity in day.activities %}
                            <li><span class='arrow-right text-blue text-medium list-icon'></span> {{ activity }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
			</div>
		</div>
    </div>
</div>
<div class="section">
	<div class="container">
		<div id="register" class="row">
			<div class="col-lg-12">
				<div class="text-contain text-center">
					<h3 class="h2">Want to learn from the best?</h3>
                    <p><a href="https://www.eventbrite.com/e/dbt-learn-february-2019-tickets-53954183415" class="btn btn-primary btn-lg arrow-right">Register now</a></p>
                    <p>dbt learn is hosted monthly in Philadelphia, PA</p>
				</div>
			</div>
		</div>
	</div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
<script src="/ui/js/helpers/chart.js"></script>
