<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<ul class="list-inline">
					<li><a href="http://fishtownanalytics.com" target="_blank"><strong>dbt Learn</strong> is sponsored with love by <strong class="nowrap"><i data-icon="fishtown" class="icon-buffer"></i> Fishtown Analytics</strong></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>


