{% comment %}
  This is the social sign up page.
{% endcomment %}

<main class="social-sign-up" id="main-content" role="main">
  <div class="social-sign-up__container">
    <div class="social-sign-up__wrapper">
      {% section 'social_signup_form' %}
    </div>
  </div>
  {{ content_for_page }}
</main>

{% schema %}
{
  "sections":{
    "options":[
      "banner",
      "course_cards",
      "frequently_asked_questions",
      "call_to_action",
      "countdown",
      "video"
    ],
    "defaults":[]
  }
}
{% endschema %}
